.vscode
/tmp

.env
secrets.yml

wordpress/wp-content/wc-sessions
wordpress/wp-content/uploads
wordpress/wp-content/cache
wordpress/wp-content/upgrade
wordpress/wp-content/upgrade-temp-backup
wordpress/wp-content/wc-logs